# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.New Unity Project 2020.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\University\unity_project\New Unity Project 2020\.idea\.idea.New Unity Project 2020\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
